#slogan {font-style: italic;
	color: #000;
}
body { 
  text-align: center;
  background: url("https://beaubian.github.io/unit_3/images/havana.jpg"); &nbsp;
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: content-box;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
  font-family: Helvetica, sans-serif;
  color: #000;
  display: block;
  margin: 8px;
}
ul {
  width: 400px;
  text-align: left;
  margin: 8px;

li {
  display: list-item;
  text-align: match-parent;
}
}
hr {
  width:200px;
}
p {
	font-size: 22px;
}
.center{
    width:200px;
    margin:0 auto;
    text-align:center;
}