#slogan {font-style: italic;
	color: #FFF7F8;
}
body { 
  text-align: center;
  background: "havana.jpg";
  background-size: cover;
  color: #fff;
  font-family: Helvetica, sans-serif;
}
hr {
  width:200px;
}
p {
	font-size: 22px;
}