#slogan {font-style: italic;
	color: #fff;
}
body { 
  text-align: center;
  background: url("https://beaubian.github.io/unit_3/images/havana.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica, sans-serif;
  display: block;
	height:188.922px;
	margin-bottom:8px;
	margin-left:8px;
	margin-right:8px;
	margin-top:8px;
	width:852px;
}
hr {
  width:200px;
}
p {
	font-size: 22px;
}
.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}