#slogan {font-style: italic;
	color: #000;
}
body { 
  text-align: center;
  background: url ("havana.jpg");
  background-size: cover;
  color: #000;
  font-family: Helvetica, sans-serif;
}
hr {
  width:200px;
}
p {
	font-size: 22px;
}
.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}